*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
spec/vcr_cassettes/access_token.yml
spec/vcr_cassettes/authorize_url.yml
spec/vcr_cassettes/blog_followers.yml
spec/vcr_cassettes/blog_info.yml
spec/vcr_cassettes/blog_posts.yml
spec/vcr_cassettes/post_create.yml
spec/support/token_helper.rb