module TokenHelper
  def consumer_key
    ""
  end

  def consumer_secret
    ""
  end

  def blogname
    ""
  end

  def blog_title
    ""
  end

  def access_token
    ""
  end

  def access_token_secret
    ""
  end

  # these are all part of the auth request set...
  def oauth_verifier
    ""
  end

  def request_token
    ""
  end

  def request_secret
    ""
  end
end
